exp/
initmodel/
.idea/
*.zip
model/__pycache__/ASPP.cpython-38.pyc
model/__pycache__/SCCAN.cpython-38.pyc
model/__pycache__/backbone_res.cpython-38.pyc
model/__pycache__/backbone_utils.cpython-38.pyc
model/__pycache__/loss.cpython-38.pyc
model/__pycache__/swin_sccan.cpython-38.pyc
util/__pycache__/__init__.cpython-38.pyc
util/__pycache__/config.cpython-38.pyc
util/__pycache__/dataset.cpython-38.pyc
util/__pycache__/get_weak_anns.cpython-38.pyc
util/__pycache__/transform.cpython-38.pyc
util/__pycache__/transform_tri.cpython-38.pyc
util/__pycache__/util.cpython-38.pyc
.ipynb_checkpoints/
model/.ipynb_checkpoints/
